[submodule "pack/dist/start/ale"]
	path = pack/dist/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/dist/start/commentary"]
	path = pack/dist/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/dist/start/vim-airline"]
	path = pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/dist/start/vim-airline-themes"]
	path = pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/dist/start/indentLine"]
	path = pack/dist/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/dist/start/nerdtree"]
	path = pack/dist/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/dist/start/vim-gitgutter"]
	path = pack/dist/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/dist/opt/undotree"]
	path = pack/dist/opt/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/dist/start/mru"]
	path = pack/dist/start/mru
	url = https://github.com/yegappan/mru.git
[submodule "pack/dist/start/vim-startify"]
	path = pack/dist/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/dist/opt/ultisnips"]
	path = pack/dist/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/dist/opt/vim-snippets"]
	path = pack/dist/opt/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/dist/opt/completor.vim"]
	path = pack/dist/opt/completor.vim
	url = https://github.com/maralla/completor.vim
[submodule "pack/dist/opt/VimCompletesMe"]
	path = pack/dist/opt/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe
[submodule "pack/dist/start/asyncrun.vim"]
	path = pack/dist/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/ycm/start/YouCompleteMe"]
	path = pack/ycm/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "pack/python-mode/start/python-mode"]
	path = pack/python-mode/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "pack/dist/start/vim-polyglot"]
	path = pack/dist/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/dist/start/vim-css-color"]
	path = pack/dist/start/vim-css-color
	url = https://github.com/ap/vim-css-color
